<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Features -->
<!--    app can still run on devices without a SIM card-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Permissions -->
<!--    sms permission-->

<!--    allow dialing numbers-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
<!--    required for showing notification Android 13+-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<!--    lets the app run in foreground FireMonitorService Class-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!--    app cant ask users to disable battery optimizations -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/flame_circuit_logo_design"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/flame_circuit_logo_design"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFireApp"
        tools:targetApi="31">

        <!-- Main activity -->
<!--        first screen to open-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".StatusActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".NewsLetter"/>
        <activity android:name=".ManageNumbersActivity"/>
        <activity android:name=".AddNumberActivity"/>
        <activity android:name=".EmergencyNumbersActivity"/>
        <activity android:name=".ManageWifiActivity"/>


        <!-- SMS Receiver -->
<!--        <receiver android:name=".SmsReceiver" android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- Firebase Messaging Service -->
        <!--
         Firebase Messaging Service (currently unused).
         NOTE: MyFirebaseMessagingService does NOT extend FirebaseMessagingService,
         so this entry will not handle real FCM push notifications.
         It's only kept here as a placeholder / for future use.
         +_+im broke so i can't USE FCM
        -->
<!--        <service-->
<!--            android:name=".NotificationHelperService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

        <!-- Fire Monitor Foreground Service -->
<!--        Sticky notification that cannot be removed so that the system will continuously work-->
        <service
            android:name=".FireMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            />


    </application>
</manifest>
